<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="vueApp">
      <h3>Belajar VueJs</h3>

      <input type="text" v-model="name" />
      <input type="number" v-model="age" />

      <p>Namanya {{ name }}, Umurnya {{ age }}, {{ expression }}</p>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script>
      const sample = {
        data() {
          return {
            name: "Eric",
            age: 100,
          };
        },
        computed: {
          expression() {
            if (this.age >= 50) return "tua sekali";
            else return "muda sekali";
          },
        },
      };

      Vue.createApp(sample).mount("#vueApp");
    </script>
  </body>
</html>
